/backend/RouteAware/RouteAware.API/YOLOv3/yolov3.weights
/backend/RouteAware/RouteAware.API/data/
/backend/RouteAware/RouteAware.API/bin/
/backend/RouteAware/RouteAware.API/.vs/
/backend/RouteAware/RouteAware.API/obj/
/backend/RouteAware/RouteAware.API/Properties/
/backend/RouteAware/RouteAware.API/RouteAware.DataAccess/
/backend/RouteAware/RouteAware.API/appsettings.Development.json
/backend/RouteAware/RouteAware.API/appsettings.json